body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  color: #05204a;
  line-height: 1.5em;
}

h2 {
  color: #05204a;
  margin-bottom: 1.5em;
  text-decoration: underline wavy purple;
  text-underline-offset: 5px;
}
/* menu de navegação */
#nav {
  text-align: right;
  padding: 20px 0;
  background-color: #fbd87f;
}

nav {
  padding-right: 30px;
}

#nav > a,
a:visited {
  color: black;
}

#nav > a:hover {
  color: white;
}
/* secção sobre */
#Sobre {
  padding: 5% 10%;
  background-color: #f4fffd;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5%;
}
img {
  border: solid 3px;
  border-radius: 50%;
}

#image {
  background-color: bisque;

  padding: 2em 0;
}
/* secção hobbies */
#hobbies {
  padding: 5% 10%;
  background-color: greenyellow;
}

img {
  border: solid 3px;
  border-radius: 50%;
}
/* secção links */
#links {
  background-color: bisque;
  padding: 5% 10%;
}
/* secção horario */
#schedule {
  padding: 5% 10%;
}

#table {
  border: solid 1px black;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
}
th {
  background-color: aqua;
}
/* secção formulario */
#form {
  padding: 5% 10%;
  background-color: blanchedalmond;
  width: 100%;
}

#form1 input {
  padding: 5px 20px;
}

#input {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin: 0;
}

.coluna {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
}
.left {
  display: flex;
  flex-direction: column;
}

.left > label {
  margin-bottom: 20px;
}

.right {
  display: flex;
  flex-direction: column;
}

#form1 > button {
  color: white;
  background-color: blue;
  border: black solid 3px;
  border-radius: 10%;
  margin-right: 2%;
}

#form1 > button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #nav {
    display: flex;
    flex-direction: column;
  }
}
